<h1>New Note</h1>

<div class="card w-75">
  <div class="card-body">
<%= form_with url: "/notes", method: :post do |form| %>
<div>
    <%= form.label :title, "Title:",{class:"card-title"} %>
    <%= form.text_field :title %><br>
</div>
<br>
<div>
  <%= form.select :book_id, current_user.books.collect { |b| [b.title,b.id] } %>
</div>
<br>
<div>
  <%= form.label :content, "Content:" %><br>
  <%= form.text_area :content,{class:"md-textarea form-control",rows:16} %>
</div>

  <%= form.submit "Save" ,{class:"btn btn-primary"} %>
  <% end %>

  </div>
</div>
