<%= wicked_pdf_stylesheet_link_tag 'downloader' %>
<div class="some-div">
   <%= @notes.each do |note| %>
  <div class="some-other-div">
    <p>

       Title Note:<br>
       <%= note.title %><br>

      Content:<br>

      <textarea name="name" rows="400" cols="150"><%= note.content %></textarea>
        <br>

      View in markdown:<%= markdown(note.content) %><br>
    </p>
  </div>
  <% end %>
</div>
