<!DOCTYPE html>
<html>
  <head>
    <title>RubyNotes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <body>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
    
      <h1> <a href="/">Ruby Notes!</a></h1>

     <% if user_signed_in? %>

         <p> Welcome <%= current_user.email =%>!
         <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>
         <div>
           <%= link_to('My Books', books_path) %> <br>
           <%= link_to "New Note", new_note_path %>
         </div>

     <% else %>
     <div>
       <li>
         <%= link_to('Login', new_user_session_path) %>
       </li>
       <li>
         <%= link_to('Register', new_user_registration_path) %>
       </li>
     </div>
     <% end %>
     <%= yield %>

   </body>
 </div>
 </html>
